/* Large Desktop View Code Start From Here */
/* Google Font Here */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

body {
    margin: 0px auto;
    font-family: 'Poppins', sans-serif;
}

/* Header Section Or First Section  */
header {
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
}

.container {
    width: 1200px;
    height: 550px;
    background-color: #161616;
    display: flex;
    border-radius: 35px;
}

.half-width {
    width: 50%;
}

.banner-left {
    padding-left: 50px;
    padding-right: 20px;
}


.banner-left h1 {
    font-size: 70px;
    font-weight: 700;
    line-height: 90px;
    color: #FFFFFF;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.banner-left p {
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.banner-left a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400px;
    padding: 10px 15px;
    background: #DD0000;
    border-radius: 5px;
}

.banner-left a:hover {
    text-decoration: none;
    color: #DD0000;
    font-size: 20px;
    font-weight: 400px;
    padding: 10px 15px;
    background: #FFFFFF;
    border-radius: 5px;
}

.fa-play {
    font-size: 15px;
    padding-left: 5px;
}

.banner-right img {
    height: 100%;
    width: 100%;
}

/* Main Section Or Second Section  */
main {
    margin-top: 50px;
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
}

.section2-container {
    width: 1200px;
    display: flex;
    justify-content: space-between;
}

/* Side Section  */

.side-section {
    width: 290px;
    height: 290px;
    background-color: #161616;
    border-radius: 10px;
}

.side-section-btn {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    justify-items: center;
}

.side-section-btn a {
    text-decoration: none;
    color: #161616;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    width: 200px;
    height: 50px;
    background-color: #FFFFFF;
    border-radius: 5px;
    margin: 35px 20px 0px;
}

#special2 {
    color: #FFFFFF;
    background-color: #DD0000;
}

/* Main Section  */

.main-section {
    width: 880px;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.blog {
    width: 280px;
    height: 320px;
    border: 1px solid gray;
    border-radius: 10px;
}

.shedule-image {
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shedule-image h3 {
    color: #161616;
    font-size: 16px;
    font-weight: 700;
}

.blog h2 {
    color: #161616;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding-top: 10px;
}

.blog p {
    color: #4D4D4D;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

/* Extra Button Section  */
.btn-container {
    text-align: center;
    visibility: hidden;
}

.btn-extra a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400px;
    padding: 10px 25px;
    background: #DD0000;
    border-radius: 5px;
}

.btn-extra a:hover {
    text-decoration: none;
    color: #DD0000;
    font-size: 20px;
    font-weight: 400px;
    padding: 10px 25px;
    background: #FFFFFF;
    border: 1px solid #161616;
    border-radius: 5px;
}

/* Footer Section */
footer {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    background-color: #161616;
}

.footer-container {
    width: 1200px;
    margin-bottom: 50px;
    text-align: center;
}

.footer-top {
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 600;
}

.footer-bottom {
    display: flex;
    justify-content: space-evenly;
}

.footer-bottom a {
    margin: 40px;
    text-decoration: none;
    color: #B9B9B9;
    font-size: 16px;
    font-weight: 600;
}

.social-media a {
    color: #FFFFFF;
    font-size: 30px;
    padding: 0px 20px;
}

/* Large Desktop View Code End Here */

/* Media Queries Code Start From Here */
/* Normal Desktop View Code Start From Here */
@media only screen and (min-width:993px) and (max-width:1311px) {

    /* Header Section Or First Section  */
    header {
        margin-top: 50px;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
    }

    .container {
        width: 900px;
        height: 500px;
        background-color: #161616;
        display: flex;
        border-radius: 35px;
    }

    .half-width {
        width: 50%;
    }

    .banner-left {
        padding-left: 30px;
        padding-right: 20px;
    }


    .banner-left h1 {
        font-size: 50px;
        font-weight: 700;
        line-height: 75px;
        color: #FFFFFF;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }

    .banner-left p {
        font-size: 16px;
        font-weight: 400;
        color: #FFFFFF;
        margin-bottom: 40px;
    }

    .banner-left a {
        text-decoration: none;
        color: #FFFFFF;
        font-size: 20px;
        font-weight: 400px;
        padding: 10px 15px;
        background: #DD0000;
        border-radius: 5px;
    }

    .banner-left a:hover {
        text-decoration: none;
        color: #DD0000;
        font-size: 20px;
        font-weight: 400px;
        padding: 10px 15px;
        background: #FFFFFF;
        border-radius: 5px;
    }

    .fa-play {
        font-size: 15px;
        padding-left: 5px;
    }

    .banner-right img {
        height: 100%;
        width: 100%;
    }

    /* Main Section Or Second Section  */
    main {
        margin-top: 50px;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
    }

    .section2-container {
        width: 900px;
        display: flex;
        justify-content: space-between;
    }

    /* Side Section  */

    .side-section {
        width: 220px;
        height: 220px;
        background-color: #161616;
        border-radius: 10px;
    }

    .side-section-btn {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        justify-content: center;
        justify-items: center;
    }

    .side-section-btn a {
        text-decoration: none;
        color: #161616;
        font-size: 12px;
        font-weight: 600;
        text-align: center;
        width: 150px;
        height: 40px;
        background-color: #FFFFFF;
        border-radius: 5px;
        margin: 25px 20px 0px;
    }

    #special {
        color: #FFFFFF;
        background-color: #DD0000;
    }

    /* Main Section  */
    .main-section {
        width: 650px;
    }

    .blogs {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 8px;
    }

    .blog {
        width: 210px;
        height: 250px;
        border: 1px solid gray;
        border-radius: 10px;
    }

    .shedule-image {
        padding-top: 50px;
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .blog-image {
        width: 80px;
        height: 45px;
    }

    .shedule-image h3 {
        color: #161616;
        font-size: 16px;
        font-weight: 700;
    }

    .blog h2 {
        color: #161616;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        padding-top: 10px;
    }

    .blog p {
        color: #4D4D4D;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
    }

    /* Extra Button Section  */
    .btn-container {
        text-align: center;
        display: none;
    }

    .btn-extra a {
        text-decoration: none;
        color: #FFFFFF;
        font-size: 20px;
        font-weight: 400px;
        padding: 10px 25px;
        background: #DD0000;
        border-radius: 5px;
    }

    .btn-extra a:hover {
        text-decoration: none;
        color: #DD0000;
        font-size: 20px;
        font-weight: 400px;
        padding: 10px 25px;
        background: #FFFFFF;
        border: 1px solid #161616;
        border-radius: 5px;
    }

    /* Footer Section */
    footer {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        background-color: #161616;
    }

    .footer-container {
        width: 900px;
        margin-bottom: 50px;
        text-align: center;
    }

    .footer-top {
        color: #FFFFFF;
        font-size: 25px;
        font-weight: 600;
    }

    .footer-bottom {
        display: flex;
        justify-content: space-evenly;
    }

    .footer-bottom a {
        margin: 25px;
        text-decoration: none;
        color: #B9B9B9;
        font-size: 15px;
        font-weight: 600;
    }

    .social-media a {
        color: #FFFFFF;
        font-size: 25px;
        padding: 0px 20px;
    }
}

/* Normal Desktop View Code End Here */
/* Tablet View Start From Here  */
@media only screen and (min-width:689px) and (max-width:991px) {

    /* Header Section Or First Section  */
    header {
        margin-top: 20px;
        margin-bottom: 40px;
        display: flex;
        justify-content: center;
    }

    .container {
        width: 650px;
        height: 400px;
        background-color: #161616;
        display: flex;
        border-radius: 20px;
    }

    .half-width {
        width: 50%;
    }

    .banner-left {
        padding-left: 25px;
        padding-right: 10px;
    }


    .banner-left h1 {
        font-size: 35px;
        font-weight: 600;
        line-height: 45px;
        color: #FFFFFF;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }

    .banner-left p {
        font-size: 16px;
        font-weight: 400;
        color: #FFFFFF;
        margin-bottom: 30px;
    }

    .banner-left a {
        text-decoration: none;
        color: #FFFFFF;
        font-size: 18px;
        font-weight: 500px;
        padding: 8px 12px;
        background: #DD0000;
        border-radius: 5px;
    }

    .banner-left a:hover {
        text-decoration: none;
        color: #DD0000;
        font-size: 18px;
        font-weight: 500px;
        padding: 8px 12px;
        background: #FFFFFF;
        border-radius: 5px;
    }

    .fa-play {
        font-size: 10px;
        padding-left: 5px;
    }

    .banner-right img {
        height: 100%;
        width: 100%;
    }

    /* Main Section Or Second Section  */
    main {
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .section2-container {
        width: 650px;
        display: flex;
        flex-direction: column;
    }

    /* Side Section  */

    .side-section {
        width: 650px;
        height: 100px;
        background-color: #FFFFFF;
        margin-bottom: 25px;
    }

    .side-section-btn {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .side-section-btn a {
        text-decoration: none;
        font-size: 15px;
        font-weight: 800;
        width: 180px;
        height: 50px;
        border: 1px solid #161616;
        border-radius: 5px;
        margin: 25px 20px 0px;
    }

    #special2 {
        color: #FFFFFF;
        background-color: #DD0000;
        border: 1px solid #FFFFFF;
    }

    /* Main Section  */

    .main-section {
        width: 650px;
    }

    .blogs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        column-gap: 0px;
        row-gap: 20px;
    }

    .blog {
        width: 300px;
        height: 300px;
        border: 1px solid gray;
        border-radius: 10px;
    }

    .shedule-image {
        padding-top: 60px;
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .blog-image {
        width: 120px;
        height: 65px;
    }

    .shedule-image h3 {
        color: #161616;
        font-size: 20px;
        font-weight: 800;
    }

    .blog h2 {
        color: #161616;
        font-size: 24px;
        font-weight: 700;
        text-align: center;
        padding-top: 10px;
    }

    .blog p {
        color: #4D4D4D;
        font-size: 18px;
        font-weight: 600;
        text-align: center;
    }

    /* Extra Button Section  */
    .btn-container {
        text-align: center;
        visibility: visible;
    }

    .btn-extra a {
        text-decoration: none;
        color: #FFFFFF;
        font-size: 20px;
        font-weight: 400px;
        padding: 10px 25px;
        background: #DD0000;
        border-radius: 5px;
    }

    .btn-extra a:hover {
        text-decoration: none;
        color: #DD0000;
        font-size: 20px;
        font-weight: 400px;
        padding: 10px 25px;
        background: #FFFFFF;
        border: 1px solid #161616;
        border-radius: 5px;
    }

    /* Footer Section */
    footer {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        background-color: #161616;
    }

    .footer-container {
        width: 650px;
        margin-bottom: 30px;
        text-align: center;
    }

    .footer-top {
        color: #FFFFFF;
        font-size: 25px;
        font-weight: 600;
    }

    .footer-bottom {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
    }

    .footer-bottom a {
        margin: 15px;
        text-decoration: none;
        color: #B9B9B9;
        font-size: 18px;
        font-weight: 600;
    }

    .social-media a {
        color: #FFFFFF;
        font-size: 25px;
        padding: 0px 20px;
    }
}

/* Tablet View End Here  */
/* Mobile View Start From Here  */
@media only screen and (max-width:688px) {

    /* Header Section Or First Section  */
    header {
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-evenly;
    }

    .container {
        width: 350px;
        height: 650px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        background-color: #161616;
        border-radius: 15px;
    }

    .banner-left h1 {
        font-size: 25px;
        font-weight: 500;
        line-height: 40px;
        color: #FFFFFF;
        text-align: center;
    }

    .banner-left p {
        font-size: 15px;
        font-weight: 400;
        color: #FFFFFF;
        text-align: center;
    }

    .banner-left a {
        text-decoration: none;
        color: #FFFFFF;
        font-size: 15px;
        padding: 10px 15px;
        background: #DD0000;
        border-radius: 5px;
        margin-left: 25px;
    }

    .banner-left a:hover {
        text-decoration: none;
        color: #DD0000;
        font-size: 15px;
        padding: 10px 15px;
        background: #FFFFFF;
        border-radius: 5px;
        margin-left: 25px;
    }

    .fa-play {
        font-size: 12px;
    }

    .banner-right img {
        margin-left: 30px;
        height: 100%;
        width: 100%;
    }

    /* Main Section Or Second Section  */
    main {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .section2-container {
        width: 350px;
        display: flex;
        flex-direction: column;
    }

    /* Side Section  */

    .side-section {
        width: 350px;
        height: 280px;
        background-color: #161616;
        border-radius: 10px;
        margin-bottom: 20px;
    }

    .side-section-btn {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        justify-content: center;
        justify-items: center;
    }

    .side-section-btn a {
        text-decoration: none;
        color: #161616;
        font-size: 15px;
        font-weight: 700;
        text-align: center;
        width: 200px;
        height: 50px;
        background-color: #FFFFFF;
        border-radius: 5px;
        margin: 35px 20px 0px;
    }

    #special {
        color: #FFFFFF;
        background-color: #DD0000;
    }

    /* Main Section  */

    .main-section {
        width: 350px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .blogs {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .blog {
        width: 350px;
        height: 320px;
        border: 1px solid gray;
        border-radius: 13px;
    }

    .shedule-image {
        padding-top: 70px;
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .blog-image {
        width: 130px;
        height: 70px;
    }

    .shedule-image h3 {
        color: #161616;
        font-size: 20px;
        font-weight: 800;
    }

    .blog h2 {
        color: #161616;
        font-size: 24px;
        font-weight: 600;
        text-align: center;
        padding-top: 10px;
    }

    .blog p {
        color: #4D4D4D;
        font-size: 20px;
        font-weight: 500;
        text-align: center;
    }

    /* Extra Button Section  */
    .btn-container {
        text-align: center;
        display: none;
    }

    .btn-extra a {
        text-decoration: none;
        color: #FFFFFF;
        font-size: 20px;
        font-weight: 400px;
        padding: 10px 25px;
        background: #DD0000;
        border-radius: 5px;
    }

    .btn-extra a:hover {
        text-decoration: none;
        color: #DD0000;
        font-size: 20px;
        font-weight: 400px;
        padding: 10px 25px;
        background: #FFFFFF;
        border: 1px solid #161616;
        border-radius: 5px;
    }

    /* Footer Section */
    footer {
        margin-top: 50px;
        background-color: #161616;
    }

    .footer-container {
        width: 350px;
        margin-bottom: 50px;
        text-align: center;
    }

    .footer-top {
        color: #FFFFFF;
        font-size: 25px;
        font-weight: 500;
    }

    .footer-bottom {
        display: flex;
        flex-direction: column;

    }

    .footer-bottom a {
        text-decoration: none;
        color: #B9B9B9;
        font-size: 20px;
        font-weight: 600;
    }

    .social-media a {
        color: #FFFFFF;
        font-size: 30px;
        padding: 0px 20px;
    }
}

/* Mobile View End Here  */
/* Media Queries Code Start From Here */